@{
    ViewBag.Title = "Create equipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form class="container" id="create_equipe">
        <center><h2>Ajouter une équipe</h2></center>

        <div class="input-field">
            <i class="material-icons prefix">assignment_ind</i>
            <input id="nom_equipe" type="text" class="validate">
            <label>Nom de l'équipe</label>
        </div>
        <br />

        <div class="input-field">
            <i class="material-icons prefix">reorder</i>
            <select id="liste_categorie">
                <option value="" disabled selected>Sélectionnez une catégorie</option>
                <option value="U6">U6</option>
                <option value="U7">U7</option>
                <option value="U8">U8</option>
                <option value="U9">U9</option>
                <option value="U10">U10</option>
                <option value="U11">U11</option>
                <option value="U12">U12</option>
                <option value="U13">U13</option>
                <option value="U14">U14</option>
                <option value="U15">U15</option>
                <option value="U16">U16</option>
                <option value="U17">U17</option>
                <option value="U18">U18</option>
                <option value="U19">U19</option>
                <option value="U20">U20</option>
                <option value="Seniors">Séniors</option>
                <option value="Veterans">Vétérans</option>
                <option value="Feminines">Féminines</option>
            </select>
            <label>Catégories</label>
        </div>
        <br />

        <div class="input-field">
            <i class="material-icons prefix">explicit</i>
            @Html.Action("GenerateListeEntraineur", "Backoffice", new { name = "GenerateListeEntraineur" })
            <label>Entraîneur</label>
        </div>
        <br />

        
        <!--<div class="input-field">
            <i class="material-icons prefix">explicit</i>
            <input id="entraineur" type="text" class="validate">
            <label>Entraîneur</label>
        </div>

        <div class="file-field input-field">
            <div class="btn">
                <span>Ecusson de l'équipe</span>
                <input type="file" accept="image/jpeg">
            </div>
            <div class="file-path-wrapper">
                <input id="ecusson" class="file-path validate" type="text">
            </div>
        </div>

        
        <div>
            <button id="OpenUpload" type="button" class="btn btn-danger">Ecusson de l'équipe</button>
        </div>-->


        <div class="input-field">
            @Html.Action("GenerateBlocEcusson", "Backoffice", new { name = "GenerateBlocEcusson" })
        </div>
        <br />


        <center><button href="#!" class="btn" id="btn_ajouter" type="submit">Ajouter</button></center>
    </form>

    <br />
    <div class="container" id="requested_equipe"></div>
</div>




<div class="modal" id="UploadModal">
    <div class="modal-content">

        <div class="modal-header modal-header-danger">
            <h4 class="modal-title" id="myModalLabel">Ajout d'un écusson</h4>
        </div>
        <div class="modal-body">
            <div class="control-group">
                @using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {   
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-5 ">
                            <input type="file" name="file" id="file" class="form-control" />
                            <span class="glyphicon glyphicon-folder-open form-control-feedback"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-5 ">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-11">
                            <button href="#!" class="btn" id="btn_upload" type="submit">Upload</button>
                            <a class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                        </div>
                    </div>
                }
            </div>
            
        </div>
    </div>
</div>




<div id="EquipeModal" class="modal">
    <div class="modal-content">
        <form class="row" id="EquipeModalForm">
            <div class="modal-header modal-header-danger">
                <h4 class="modal-title" id="myModalLabel">Modification équipe</h4>
            </div>
            <div class="modal-body">
                <div class="control-group">
                    <label class="control-label" for="equipe_edit">Nom équipe :</label>
                    <div class="controls">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input id="equipe_edit" name="equipe_edit" class="form-control" type="text" class="input-large" disabled>
                            <span></span>
                        </div>
                        <span class="help-block"></span>
                    </div>
                    
                    <label class="control-label" for="categorie_edit">Catégorie :</label>
                    <div class="controls">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></span>
                            <input id="categorie_edit" name="categorie_edit" class="form-control" type="text" class="input-large" disabled>
                            <span></span>
                        </div>
                        <span class="help-block"></span>
                    </div>

                    <div class="file-field input-field">
                        <div class="btn">
                            Ecusson
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input id="ecusson_edit" name="ecusson_edit" class="file-path validate" type="text">
                        </div>
                    </div>

                    <div class="input-field">
                        @Html.Action("GenerateListeEntraineurUpdate", "Backoffice", new { name = "GenerateListeEntraineurUpdate" })
                        <label>Entraîneur</label>
                    </div>

                </div>
                <div class="modal-footer">
                    <a class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
                    <button href="#!" class="btn" id="btn_modifier" type="submit">Modifier</button>
                </div>
            </div>
        </form>
    </div>
</div>

@Scripts.Render(@"~\Scripts\Backoffice\CreateEquipe.js")
