@{
    ViewBag.Title = "CreateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Ajouter un utilisateur</h2></center>

<div id="user_container">

</div>
@Scripts.Render(@"~\Scripts\Backoffice\CreateUser.js")