
@{
    ViewBag.Title = "buvette";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form class="container" id="create_buvette">
        <center><h2>Ajouter un évenement</h2></center>

        <div class="input-field">
            <input id="intitule_create" name="intitule_create" type="text" class="validate">
            <label>Titre</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">reorder</i>
            <select id="responsable_create"></select>
            <label>Responsable</label>
        </div>
        <div class="input-field">
            <input id="debut_create" name="debut_create" placeholder="jj/mm/aaaa hh:mm" type="text" class="validate">
            <label>Date de début</label>
        </div>
        <div class="input-field">
            <input id="fin_create" name="fin_create" placeholder="jj/mm/aaaa hh:mm" type="text" class="validate">
            <label>Date de fin</label>
        </div>
        <center><button href="#!" class="btn hoverable" id="btn_ajouter" type="submit">Ajouter</button></center>
    </form>
    <br />
    <div id="calendrier_buvette" class="" style="color : #6a1b9a"></div>

</div>

<div id="modal_modif_buvette" class="modal">
    <div class="modal-content">
        <h4>Détail</h4>
        <form class="row" id="form_modif_event">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="intitule" type="text" class="validate">
                        <label>Titre</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="responsable" type="text" class="validate">
                            <!-- rempli par Jsonresult-->
                        </select>
                        <label>Responsable</label>
                    </div>
                </div>

            </div>
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="debut" type="text" class="validate">
                        <label>Heure de début</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="fin" type="text" class="validate">
                        <label>Heure de fin</label>
                    </div>
                </div>
            </div>
            <button href="#!" class="btn hoverable" id="btn_modifier" type="submit">Modifier</button>
            <a href="#!" class="btn hoverable" id="btn_supprimer">Supprimer</a>
        </form>
    </div>
</div>
@Scripts.Render(@"~\Scripts\Calendrier\buvette.js")
