@{
    ViewBag.Title = "entrainement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form class="container" id="find_entrainement" style="color : #8F010C">
        <center><h2>Ajouter un évenement</h2></center>

        <div class="input-field">
            <select id="terrain" name="terrain" type="text" class="validate"><option value='0'>Choisir un terrain</option>@Html.Action("LoadListTerrains", "Calendrier")</select>
            <label>Terrain</label>
        </div>
        <div class="input-field">
            <select id="entraineur"><option value='0'>Choisir un Entraineur</option>@Html.Action("LoadListEntraineurs", "Calendrier")</select>
            <label>Entraineur</label>
        </div>
        <div class="input-field">
            <select id="equipe" name="equipe" type="text" class="validate"><option value='0'>Choisir un equipe</option>@Html.Action("LoadListEquipes", "Calendrier")</select>
            <label>Equipe</label>
        </div>
        <div class="input-field">
            <input id="membre" name="membre" type="text" class="validate">
            <label>Membre</label>
        </div>
        <p> La recherche est enclenchée dès qu'un paramètre est changé</p>
    </form>
    <br />
    @{
        var groupes = (List<SiteFoot.Models.Groupe>)HttpContext.Current.Session["CurrentGroupe"];
        bool can_add_entrainement = false;
        foreach (SiteFoot.Models.Groupe grp in groupes)
	    {
		    if(grp.Droit_gerer_entrainement){
                can_add_entrainement = true;
            }
	    }
        if(can_add_entrainement)
        {
            <center><button type="button" class="btn" id="add_modal">Ajouter un entrainement</button></center>
        }
    }
    <br />
    <div id="calendrier_entrainement" class="" style="color : #8F010C"></div>
    
</div>
@Scripts.Render(@"~\Scripts\Calendrier\entrainement.js")