#toast-container {
    top: auto !important;
    right: auto !important;
    bottom: 10%;
    left: 50%;
}

li:hover {
    background-color: #64b5f6;
}
.error {
    color: #2196f3;
}
.btn {
    background-color : #2196f3;
}
.btn:hover {
    background-color : #64b5f6;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #64b5f6;
  -webkit-box-shadow: 0 1px 0 0 #64b5f6;
          box-shadow: 0 1px 0 0 #64b5f6;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #64b5f6;
}

input:not([type]).valid, input:not([type]):focus.valid,
input[type=text]:not(.browser-default).valid,
input[type=text]:not(.browser-default):focus.valid,
input[type=password]:not(.browser-default).valid,
input[type=password]:not(.browser-default):focus.valid,
input[type=email]:not(.browser-default).valid,
input[type=email]:not(.browser-default):focus.valid,
input[type=url]:not(.browser-default).valid,
input[type=url]:not(.browser-default):focus.valid,
input[type=time]:not(.browser-default).valid,
input[type=time]:not(.browser-default):focus.valid,
input[type=date]:not(.browser-default).valid,
input[type=date]:not(.browser-default):focus.valid,
input[type=datetime]:not(.browser-default).valid,
input[type=datetime]:not(.browser-default):focus.valid,
input[type=datetime-local]:not(.browser-default).valid,
input[type=datetime-local]:not(.browser-default):focus.valid,
input[type=tel]:not(.browser-default).valid,
input[type=tel]:not(.browser-default):focus.valid,
input[type=number]:not(.browser-default).valid,
input[type=number]:not(.browser-default):focus.valid,
input[type=search]:not(.browser-default).valid,
input[type=search]:not(.browser-default):focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #64b5f6;
  -webkit-box-shadow: 0 1px 0 0 #64b5f6;
          box-shadow: 0 1px 0 0 #64b5f6;
}

input:not([type]).valid + label:after,
input:not([type]):focus.valid + label:after,
input[type=text]:not(.browser-default).valid + label:after,
input[type=text]:not(.browser-default):focus.valid + label:after,
input[type=password]:not(.browser-default).valid + label:after,
input[type=password]:not(.browser-default):focus.valid + label:after,
input[type=email]:not(.browser-default).valid + label:after,
input[type=email]:not(.browser-default):focus.valid + label:after,
input[type=url]:not(.browser-default).valid + label:after,
input[type=url]:not(.browser-default):focus.valid + label:after,
input[type=time]:not(.browser-default).valid + label:after,
input[type=time]:not(.browser-default):focus.valid + label:after,
input[type=date]:not(.browser-default).valid + label:after,
input[type=date]:not(.browser-default):focus.valid + label:after,
input[type=datetime]:not(.browser-default).valid + label:after,
input[type=datetime]:not(.browser-default):focus.valid + label:after,
input[type=datetime-local]:not(.browser-default).valid + label:after,
input[type=datetime-local]:not(.browser-default):focus.valid + label:after,
input[type=tel]:not(.browser-default).valid + label:after,
input[type=tel]:not(.browser-default):focus.valid + label:after,
input[type=number]:not(.browser-default).valid + label:after,
input[type=number]:not(.browser-default):focus.valid + label:after,
input[type=search]:not(.browser-default).valid + label:after,
input[type=search]:not(.browser-default):focus.valid + label:after,
textarea.materialize-textarea.valid + label:after,
textarea.materialize-textarea:focus.valid + label:after {
  content: attr(data-success);
  color: #64b5f6;
  opacity: 1;
}

input:not([type]).invalid, input:not([type]):focus.invalid,
input[type=text]:not(.browser-default).invalid,
input[type=text]:not(.browser-default):focus.invalid,
input[type=password]:not(.browser-default).invalid,
input[type=password]:not(.browser-default):focus.invalid,
input[type=email]:not(.browser-default).invalid,
input[type=email]:not(.browser-default):focus.invalid,
input[type=url]:not(.browser-default).invalid,
input[type=url]:not(.browser-default):focus.invalid,
input[type=time]:not(.browser-default).invalid,
input[type=time]:not(.browser-default):focus.invalid,
input[type=date]:not(.browser-default).invalid,
input[type=date]:not(.browser-default):focus.invalid,
input[type=datetime]:not(.browser-default).invalid,
input[type=datetime]:not(.browser-default):focus.invalid,
input[type=datetime-local]:not(.browser-default).invalid,
input[type=datetime-local]:not(.browser-default):focus.invalid,
input[type=tel]:not(.browser-default).invalid,
input[type=tel]:not(.browser-default):focus.invalid,
input[type=number]:not(.browser-default).invalid,
input[type=number]:not(.browser-default):focus.invalid,
input[type=search]:not(.browser-default).invalid,
input[type=search]:not(.browser-default):focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #64b5f6;
  -webkit-box-shadow: 0 1px 0 0 #64b5f6;
          box-shadow: 0 1px 0 0 #64b5f6;
}

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type=text]:not(.browser-default).invalid + label:after,
input[type=text]:not(.browser-default):focus.invalid + label:after,
input[type=password]:not(.browser-default).invalid + label:after,
input[type=password]:not(.browser-default):focus.invalid + label:after,
input[type=email]:not(.browser-default).invalid + label:after,
input[type=email]:not(.browser-default):focus.invalid + label:after,
input[type=url]:not(.browser-default).invalid + label:after,
input[type=url]:not(.browser-default):focus.invalid + label:after,
input[type=time]:not(.browser-default).invalid + label:after,
input[type=time]:not(.browser-default):focus.invalid + label:after,
input[type=date]:not(.browser-default).invalid + label:after,
input[type=date]:not(.browser-default):focus.invalid + label:after,
input[type=datetime]:not(.browser-default).invalid + label:after,
input[type=datetime]:not(.browser-default):focus.invalid + label:after,
input[type=datetime-local]:not(.browser-default).invalid + label:after,
input[type=datetime-local]:not(.browser-default):focus.invalid + label:after,
input[type=tel]:not(.browser-default).invalid + label:after,
input[type=tel]:not(.browser-default):focus.invalid + label:after,
input[type=number]:not(.browser-default).invalid + label:after,
input[type=number]:not(.browser-default):focus.invalid + label:after,
input[type=search]:not(.browser-default).invalid + label:after,
input[type=search]:not(.browser-default):focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after {
  content: attr(data-error);
  color: #64b5f6;
  opacity: 1;
}

